* {
    box-sizing: border-box;
}
 
/*header*/
body {
    margin: 0;
    min-width: 992px;
    display: flex;
    flex-direction: column;
}
.navbar{
    height: 50px;
    padding-left: 30px;
}
  
.logo{
    line-height: 60px;
    float: left;
}
.logo img{
    vertical-align: middle;
    height: 60px;
    width: 250px;
}
  
.navbar ul{
    float: right;
}
  
.navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
}
  
.login img{
    height: 40px;
    width: 40px;
}

.cart img{
    height: 40px;
    width: 40px;
}

.navbar_clothes{
    height: 30px;
}

.navbar_clothes ul{
    list-style:none;
}
  
.navbar_clothes li{
    float: left;
    margin-right: 30px;
    margin-left: 170px;
    font-size: 20px;
}

.top{
    text-decoration-line:none;
    color: black;
}

.bottom{
    text-decoration-line:none;
    color: black;
}

.outer{
    text-decoration-line:none;
    color: black;
}

.bag{
    text-decoration-line:none;
    color: black;
}

.cap{
    text-decoration-line:none;
    color: black;
}

/*상세페이지*/
.container{
    position: relative;
    margin: 70px;
}
.left{
    margin: 50px;
}
.left img{
    width: 600px;
    height: 800px;
}

.right_up{
    position: absolute;
    margin-left: 100px;
}
.name{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.price{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.size{
    color: gray;
    font-size: 17px;
    font-weight: bold;
}
.total_price_txt{
    font-weight: bold;
    font-size: 17px;
}
#button button{
    border: solid 1px gray;
    background-color: #ffffff;
    padding: 5px;
    width: 250px;
    height: 50px;
    font-size: 17px;
}
.infor{
    color: gray;
    font-size: 15px;
    font-weight: bold;
}
.information{
    font-size: 17px;
}

/*footer*/
.footer{
    height: 20px;
    position: relative;
    transform: translateY(-100%);
}

.wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 20px;
}

.wrapper ul{
    margin-right: 10px;
}

.wrapper li{
    list-style-type: none;
}

.instagram img{
    height: 25px;
    width: 25px;
    float:right;
    margin-right: 30px;
}

.youtube img{
    height: 25px;
    width: 33px;
    float:right;
    margin-right: 10px;
}

.information{
    color: gray;
    font-size: 13px;
}

