* {
    box-sizing: border-box;
}
 
/*header*/
body {
    margin: 0;
    min-width: 992px;
}
.navbar{
    height: 50px;
    padding-left: 30px;
}
  
.logo{
    line-height: 60px;
    float: left;
}
.logo img{
    vertical-align: middle;
    height: 60px;
    width: 250px;
}
  
.navbar ul{
    float: right;
}
  
.navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
}
  
.login img{
    height: 40px;
    width: 40px;
}

.cart img{
    height: 40px;
    width: 40px;
}

.navbar_clothes{
    height: 30px;
}

.navbar_clothes ul{
    list-style:none;
}
  
.navbar_clothes li{
    float: left;
    margin-right: 30px;
    margin-left: 170px;
    font-size: 20px;
}

.top{
    text-decoration-line:none;
    color: black;
}

.bottom{
    text-decoration-line:none;
    color: black;
}

.outer{
    text-decoration-line:none;
    color: black;
}

.bag{
    text-decoration-line:none;
    color: black;
}

.cap{
    text-decoration-line:none;
    color: black;
}

/*body - banner*/
.section input[id*="slide"]{
    display: none;
}

.section .slidewrap{
    max-width: 1900px;
    margin: 0 auto;
    overflow: hidden;
}

.section .slidelist{
    white-space: nowrap;
    font-size: 0;
}

.section .slidelist >li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition:all .5s;
}

.section .slidelist >li >a{
    display: block;
    position: relative;
}

.section .slidelist > li > a img{
    width: 100%;
    margin-left: -30px;
}

.section .slidelist label{
    position: absolute;
    z-index: 10;
    top:50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slidelist .left {
    left: 30px;
    background: url(./img/left.png) center center / 100% no-repeat;
}

.section .slidelist .right {
    right: 30px;
    background: url(./img/right.png) center center / 100% no-repeat;
}

.section [id="slide01"]:checked ~ .slidewrap .slidelist >li {transform: translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist >li {transform: translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist >li {transform: translateX(-200%);}

/*body - best*/
.best ul{
    list-style: none;
    margin-left: 100px;
}

.best li{
    list-style-type: none;
    float: left;
    margin-right: 80px;
}

.best01{
    margin-left: 60px;
}

.best01:hover{
    background: gray;
    opacity: 0.5;
}

.best02:hover{
    background: gray;
    opacity: 0.5;
}

.best03:hover{
    background: gray;
    opacity: 0.5;
}

.best img{
    height: 400px;
    width: 300px;
}

.best p{
    font-size: 40px;
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
}
  

/*footer*/
.footer{
    height: 20px;
    position: relative;
    transform: translateY(-100%);
}

.wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 20px;
}

.wrapper ul{
    margin-right: 10px;
}

.wrapper li{
    list-style-type: none;
}

.instagram img{
    height: 25px;
    width: 25px;
    float:right;
    margin-right: 30px;
}

.youtube img{
    height: 25px;
    width: 33px;
    float:right;
    margin-right: 10px;
}

.information{
    color: gray;
    font-size: 13px;
}

